<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914362626738-9bomd16dvhr1iaj6h00u69hehc0jebbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914362626738-9bomd16dvhr1iaj6h00u69hehc0jebbg</string>
	<key>API_KEY</key>
	<string>AIzaSyC-99REHdt4j2neMQCdvGUuKxuvD0rIcXE</string>
	<key>GCM_SENDER_ID</key>
	<string>914362626738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anotech.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swifttodolist-37ad8</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttodolist-37ad8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914362626738:ios:ec474ae9122a45406f8fab</string>
</dict>
</plist>